<div class="form-container">
<%= form_for(@user, url: @form_path, method: 'post') do |f| %>

  <div class="field-container">
    <div class="label"><%= f.label :full_name %></div>
    <div class="field"><%= f.text_field :full_name %></div>
  </div>

  <div class="field-container">
    <div class="label"><%= f.label :email %></div>
    <div class="field"><%= f.text_field :email %></div>
</div>

  <div class="field-container">
    <div class="label"><%= f.label :username %></div>
    <div class="field"><%= f.text_field :username %></div>
  </div>

  <div class="field-container">
    <div class="label"><%= f.label :password %></div>
    <div class="field"><%= f.password_field :password %></div>
  </div>

  <div class="submit-button"><%= f.submit "SUBMIT" %></div>

<% end %>
</div>